.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

h1{
  background-color: #B000B5;
}

h2{
  color: #000;
}

.container{
  margin: auto;
  width: 900px;
  text-align: center;
  color: #fff;
  background-color: salmon;
}

.buttons{
  float: right;
}

.feature{
  margin:auto;
/*   background-color: green; */
  width: 50%;
  float:left;
}

